<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand" style="display:inline-flex;font-size: 10px;margin-left: -105%;">
          <img [routerLink]="['/dashboard']" [src]="smiley.png">
          <h4>Heroic
            <span>Personality</span>
          </h4>
        </span>
      </div>
      <span>
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
   
        <div class="btn-group" dropdown>
          <span dropdownToggle class="dropdown-toggle">
            <span class="caret"></span> Sundar Madhav Das
          </span> 
          <ul *dropdownMenu class="dropdown-menu" style="margin-top:15px;right:0;left:auto;top:100%;transform:translateY(0px);bottom:auto;" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Change Password</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Feedback</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </nav>
</header>
<aside class="sidebar">
  <div class="sidebar-inner">
    <ul>
      <li *ngIf="isShowAPIDocMenu">
        <a href="/index2.html" target="_blank">
          <i class="icon icon-file-text"></i>
          <span>API doc</span>
        </a>
      </li>
      <li *ngFor="let menu of menuList">
        <a routerLinkActive="active" routerLink="{{menu.menuUrl}}" (click)="hideMenu()">
          <i class="fa fa-search" aria-hidden="true"></i>  &nbsp;{{menu.name}}</a>
      </li>
    </ul>
  </div>
</aside>
<div class="main">
  <router-outlet></router-outlet>
</div>  