<p style="margin-left:3%;font-weight:500">Fundamentals </p> 
<ul>
   <li>Architecture and Designing Patterns</li>
    <li>Work Flow of Angular</li>
    <li>Modules and Metadata</li>
    <li>Components and Metadata</li>
</ul>
<div class="conatiner" style="margin-left:3%;font-weight:500">
    <mat-slider min="1" max="100" step="10" value="1" width="200px;"></mat-slider>
    <mat-spinner></mat-spinner>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>