<ng-alert></ng-alert>
<div style="text-align:center;display:block;width:30%;height:53%;margin-left:35%;margin-top:10%;">    
    <canvas baseChart width="10" height="10"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
    <br/>
    <div class="row">
      <button class="success" (click)="createSuccessMessage()">success</button>
      <button class="danger" (click)="createDangerMessage()">danger</button>
      <button class="warning" (click)="createWarningMessage()">warning</button>
      <button class="info" (click)="createInfoMessage()">info</button>
    </div>
</div>  