/* .sidebar .sidebar-inner{
    background: none!important;
437
    box-shadow: none!important;
}
.sidebar{
    position: absolute!important;
    right: 0px!important;
    top: 0!important;
    width: auto!important;
    height: auto!important;
    padding: 0!important;
} */

/* .sidebar {
    right: 0;
    left: auto!Important;
}
.right-content {
    padding-right: 270px!important;
    padding-left: 30px!Important;
}
.sidebar-inner {
    background: #0e8ead!important;
} */

/* 
.sidebar ul li a.active {
    background: rgba(46, 91, 255, 0.15)!important;
    color: #fff;
    font-family: 'JioType-Bold';
}
*/

.sidebar ul li a {
    color: #8696b3;
    border-radius: 0!important;
    font-family: JioType-Medium;
    padding: 20px 20px;
    width: 300px;
}

.sidebar ul li a.active {
    color: #fff;
    background: rgba(46, 91, 255, 0.15)!important;
    border-left: 2px solid #4a7ad6;
}

.sidebar:hover { 
    width : 300px;
    transition : 0.3s;
    font-size: 2em;
}

.sidebar ul li a:hover {
    color: #fff;
    transition: 0.2s;
    background: rgba(46, 91, 255, 0.15);
    border-radius: 0!important;
    text-decoration: none;
}

.btn-primary, .btn-default {
    background: #2E384D;
    /* border-radius: 30px; */
    border-radius: 6px;
    /* margin-left: 5px;
    margin-right: 5px; */
}

.btn-primary:hover, .btn-default:hover {
    background: #23272f;
    transition: 0.3s;
}

.btn-primary:focus, .btn-primary:active:focus {
    background: #2E384D;
    transition: 0.3s;
}

.btn-default:focus, .btn-default:active:focus {
    background: #2E384D;
    transition: 0.3s;
}

.table-responsive thead th a {
    color:#3d3d3d;
}

body {
    height: 100%;
    /* position: relative; */
    overflow-x: hidden;
}

.navbar-default .navbar-header .fa-bars {
    display: block!important;
    cursor: pointer;
    position: relative;
    z-index: 11;
    float: left;
    color: #fff;
    font-size: 18px;
    margin: 22px 0 0 0;
    margin-right: 27px;
    background: none!important;
    padding: 0;
}

.sidebar {
    left: 0!important;
    transition: 0.2s!important;
    z-index: 99999!important;
    padding-left: 0!important;
    width: 85px;
    top: 58px;
}

.sidebar-inner {
    border-radius: 0!important;
    height: 100%!important;
    background: #2E384D!important;
}

body.menu-open .sidebar {
    left: 0!important;
    width: 300px;
}

.right-content {
    padding-left: 85px!important;
    margin: 0 0 40px 0 !important;
    padding-bottom: 0%;
    max-height: 90vh;
}

.sidebar-inner li a {
    border-radius: 0 10px 0 0!important;
}

.dashboard-page .panel .fa {
    top: 0;
}

.panel-default .panel-body {
    padding: 15px;
}

.overlay-indication {
    bottom: 20px;
}

header {
    background: #fff!important;
    /* background: #017d6f!Important; */
    margin-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99991;
    box-shadow: 0 0 6px rgba(39, 39, 39, 0.15);
}

header:after {
    display: none!Important;
}

.right-content .page-heading {
    color: #0B0C0D!Important;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.navbar-default .navbar-right li .dropdown-toggle {
    color: #000;
}

/* .navbar-default .navbar-right span {
    color:#fff;
}
.navbar-default .navbar-right .dropdown .fa {
    color: #fff;
}  */

/* .navbar-default .navbar-right span {
    display: none;
}
.navbar-default .navbar-right .dropdown .fa {
    display: none;
} */

.navbar-default .navbar-brand {
    color: #2d2d2d!important;
    padding-left: 60px;
}

body {
    background: #EEF3F5;
    /* overflow: auto!important */
}

.right-content {
    /* margin-top: 40px!important; */
    margin-top: 35px!important;
    padding-top: 15px!important;
    /* min-height: 85vh!important;
    max-height: inherit!important; */
}

.dbpage .right-content {
    margin-top: 40px!important;
}

.right-content.tripmanagment.asset-history {
    margin-top: 10px!important;
}

.panel-default .panel-heading {
    background: none;
    padding: 5px 15px;
    background-color: rgba(221, 219, 218, 0.178);
}

.panel-default .panel-heading-dg-location-widget {
    cursor: default !important;
}

.panel-default .panel-heading .panel-title {
    color: #8798AD;
    font-weight: 500;
    letter-spacing: 0.6px;
    font-size: 13px;
}

.panel-default .panel-body {
    padding: 0px;
    /* min-height: 100px; */
    cursor: auto;
}

.cgMapbody {
    min-height: 220px !important;
}

.table-responsive thead {
    color: #3d3d3d;
}

.table-striped>tbody>tr:nth-of-type(even) {
    border-top: 1px solid rgba(112, 112, 112, 0.12);
}

.big-modal .modal-header, .modal-lg .modal-header {
    background-color: #2E384D!important;
}

.modal-header .close {
    background: #ce4848!important;
    border-radius: 6px;
    padding: 3px 10px 8px 10px;
    color: #fff;
    opacity: 1;
    margin-top: -32px;
}

footer {
    background: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    float: left;
    width: 100%;
    display: block!Important;
    display: none!important;
}

/* .widget-list-sect li:nth-child(4) {
    display: table-cell!important;
}
.widget-list-sect li {
    width: 22%!important;
}
.widget-list-sect li:nth-child(4) {
    border-left: 1px solid #ddd!important;
} */

/* .widget-list-sect {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table;
    width: 100%;
} */

/* 
.widget-list-sect li {
    font-size: 12px;
    color: #999;
    text-align: center;
    width: 50%;
    float: left;
    border-right: 1px solid #ddd;
    text-transform: capitalize;
    font-family: 'JioType-light';
} */

.widget-list-sect li span {
    font-size: 20px;
    display: block;
    color: #000;
    font-family: 'JioType-medium';
    margin: 0px;
}

/* .widget-list-sect li:first-child{width:100%; margin-bottom:15px; border:none;} */

.widget-list-sect li:last-child {
    border: none;
}

/* .widget-list-sect li:first-child span{color:red;} */

.big-modal .table-responsive {
    max-height: 380px;
}

.big-modal .modal-body {
    padding-top: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2e384d;
    border-color: #2e384d;
    padding-bottom: 1px;
}

.big-modal .modal-header .modal-title span {
    color: #8fbfff;
}

.widget-list-sect li:hover span {
    color: #252aba;
    text-decoration: none!important;
    transition: 0.3s;
}

.widget-list-sect li:hover .count-data {
    color: #252aba;
    text-decoration: underline!important;
    transition: 0.3s;
}

.panel-default .panel-heading .fa {
    background: none;
    transition: 0.3s;
    color: #5d5d5d;
    text-align: center;
    border-radius: 50%;
    line-height: normal;
    width: auto;
    height: auto;
}

.panel-default .panel-heading .fa:hover {
    background: none;
    transition: 0.3s;
    color: #757bf2;
    text-align: center;
    border-radius: 50%;
    line-height: normal;
    width: auto;
    height: auto;
}

.panel-default .panel-heading:hover .fa {
    color: #2e384d;
}

.fa.password-info {
    color: #2e384d;
}

.map-widegt .panel-body {
    padding: 0;
}

.map-widegt .panel-body #map1234 {
    height: 100%;
}

.map_tracking.db-map {
    height: calc(55vh);
    border-radius: 0;
    border: none;
}

.map_tracking.db-mapDG {
    height: calc(100vh - 380px);
    border-radius: 0;
    border: none;
}

/* .widget-list-sect li div {
    margin: 5px 0!important;
} */

/*---------------Sk-css-30-1-19--------------------*/

/* .table-striped {} */

.web-table thead {
    background: #8f75db!important;
    background: -moz-linear-gradient(left, #8f75db 0%, #7f79e9 49%, #757bf3 100%)!important;
    background: -webkit-linear-gradient(left, #8f75db 0%, #7f79e9 49%, #757bf3 100%)!important;
    background: linear-gradient(to right, #8f75db 0%, #7f79e9 49%, #757bf3 100%)!important;
    /* background: #017d6f!Important; */
    color: #fff;
    padding: 8px;
}

.geofence-page agm-map, #map1234 {
    margin-top: 15px;
    margin-bottom: 0;
}

.table-responsive tbody td, .table-responsive thead td {
    padding: 12px 8px!important;
}

.big-modal .pagination {
    margin: 4px 0 3px;
}

/* .mapmodal.track-modal-body .table-responsive {
    margin-top: 0px;
} */

.map-info-window h4 {
    font-size: 13px;
    margin: 7px 0;
}

.map-info-window h3 {
    font-size: 13px;
    margin: 7px 0;
}

.map-info-window {
    max-width: 400px;
}

table .header-fixed {
    top: 40px;
}

/*new layout css */

.panel-default {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.panel-default .panel-heading img {
    width: 32px;
    margin-right: 10px;
}

.panel-default .panel-heading .pull-right img, .panel-default .panel-heading .fa {
    width: 3px;
    margin: 0 8px;
    color: #5D5D5D;
}

.panel-default.map-widegt .panel-heading .pull-right .form-control {
    width: 150px;
    background-position: 92%;
    display: inline-block;
    margin-right: 5px;
}

.panel-default.map-widegt .panel-heading .pull-right .icon {
    font-size: 20px;
    margin: 0 2px;
    padding: 3px;
    /* opacity: 0.5; */
    transition: 0.2s;
    position: relative;
    top: 4px;
    color: #9A9A9A;
    cursor: pointer;
}

.panel-default.map-widegt .panel-heading .pull-right .icon.active {
    /* opacity: 1; */
    color: #2E384D;
    transition: 0.2s;
}

.panel-default.map-widegt .panel-heading .pull-right .icon:hover {
    color: #2E384D;
    transition: 0.2s;
}

.panel-default.map-widegt .panel-heading .panel-title {
    vertical-align: -webkit-baseline-middle;
}

.sidebar ul li a .icon {
    font-size: 20px;
    margin-right: 6px;
    vertical-align: text-bottom;
}

.sidebar ul li a .icon.icon-jioasset-history {
    font-size: 20px;
}

.sidebar ul li a .icon.icon-jiosite {
    font-size: 15px;
}

.sidebar ul li a .icon.icon-jiodevice {
    font-size: 20px;
}

.sidebar ul li a span {
    opacity: 0;
    transition: 0.3s;
}

body.menu-open .sidebar ul li a span {
    opacity: 1;
    transition: 0.2s;
    padding-left: 5px;
}

.panel-default .panel-body .widget-chart-list {
    /* float: left; */
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
}

.sidebar ul li.hamburder-ic {
    background: #262F40;
}

.sidebar ul li.hamburder-ic .icon {
    padding: 10px 22px;
    width: 100%;
    text-align: left;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    display: block;
}

.sidebar-inner {
    border: none;
}

.sidebar ul li.hamburder-ic .icon:before {
    transition: 0.3s;
}

body.menu-open .sidebar ul li.hamburder-ic .icon:before {
    content: "\e924";
    transition: 0.3s;
}

.panel-default .panel-body.circle-chart ngx-charts-pie-chart {
    float: left;
}

.panel-default .panel-body.circle-chart .widget-chart-list {
    float: left;
    width: auto;
}

.table-responsive thead th {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px !important;
    
}
.allocate-btn{
    padding: 5px 10px;
    background: #4a8a4a;
  }

.device-table.table-responsive tbody td:last-child {
    text-align: left
}

.device-table.table-responsive tbody td span {
    opacity: 0.6;
}

.device-table.table-responsive {
    padding-top: 0;
}

.panel-default .panel-body .widget-chart-list li {
    margin-bottom: 6px;
    font-size: 13px;
    color: #8798AD;
    font-weight: normal;
    cursor: pointer;
    font-family: jioType-Light;
    /* text-transform: capitalize !important; */
}

.panel-default .panel-body .widget-chart-list li:last-child {
    margin-bottom: 0;
}

.panel-default .panel-body .widget-chart-list li b {
    font-size: 12px;
    color: #8798AD;
    font-weight: normal;
}

.panel-default .panel-body.circle-chart .widget-chart-list {
    margin: 25px 0 0 0px;
}

.panel-default .panel-body.bar-chart .widget-chart-list {
    margin-left: 25px;
}

.bar-chart {
    min-height: 130px;
}

.panel-default .panel-body .listdata {
    display: inline-block;
}

.big-modal {
    width: 98%;
}

.modal-header .modal-title {
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: UPPERCASE;
    color: #ffffff;
    /* padding: 59px; */
}

.big-modal .table-div .table-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.create-route-modal-body {
    padding-top: 15px!important;
}

.chart-container {
    display: grid;
    height: 50px;
}

.geofence-page.right-content .page-heading {
    margin: 0;
    float: left;
}

.geofence-page.right-content .geofence-map-toggle {
    margin: 5px 0 0 0;
}

.geofence-page.right-content .table-filters {
    margin-top: 0;
}

.geofence-page.right-content form .form-group.col-xs-12.p0 {
    margin: 0;
}

.geofence-page.right-content form .form-group.col-xs-12.p0 #map1234 {
    margin-bottom: 20px;
}

.hidden-add-block .form-group .form-control {
    border: 1px solid #bec9ef;
    border-radius: 6px;
    background-color: rgba(224, 231, 255, 0.2);
}

.hidden-add-block .multiselect-dropdown .dropdown-btn {
    border: 1px solid #bec9ef!important;
    border-radius: 6px!important;
    background: rgba(224, 231, 255, 0.2)!important;
}

.hidden-add-block .multiselect-dropdown .filter-textbox input {
    border: 1px solid #bec9ef!important;
    border-radius: 6px!important;
    background: rgba(224, 231, 255, 0.2)!important;
}

.table-filters .search .form-control {
    border-radius: 6px;
}

.big-modal .table-div .form-group .form-control {
    border: 1px solid #bec9ef!important;
    border-radius: 6px!important;
    background: rgba(224, 231, 255, 0.2)!important;
}

.right-content .table-filters .form-control {
    border-radius: 6px;
}

.custom-autoselect .selected-list .c-btn {
    border-radius: 6px;
}

.authorities-td span label {
    background: #596b92;
}

.authorities-td span label span {
    background: #5f74b5;
}

.theme-green .bs-datepicker-head {
    background-color: #2e384d!important;
}

.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #2e384d!important;
}

.datepicker .btn-default {
    background: #2e384d!important;
    transition: 0.3s;
}

.datepicker .bs-chevron {
    border-color: #2e384d!important;
}

.panel-body h4 {
    /* position: absolute; */
    /* padding: 30px 0; */
    /* left: 0;
    right: 0;
    top: 60px; */
    padding-top: 50px;
    font-size: 14px;
    margin: 0px;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
    border: 1px solid #DDDBDA;
    border-radius: 6px;
    background-color: rgba(224, 231, 255, 0.2);
    padding: 6px;
    outline: none!Important;
}

.ng-prime-date-time-picker .ui-datepicker table td>a.ui-state-active {
    background-color: #2e384d !important;
    color: #fff!important;
}

body .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, body .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    top: 5px;
    color: #2e384d;
}

body .ui-datepicker .ui-timepicker a {
    color: #2c364a;
    font-size: 1.286em;
}

body .ui-datepicker .ui-timepicker {
    background: #eef3f5;
    margin: -5px;
}

.tripmanagment .table-filters .bsDatepicker input {
    border-radius: 6px!Important;
}

/* .alert-right .widget-list-sect li {
    width: 100%!important;
} */

.p10 {
    padding: 10px !important;
}

/* Status Color Codes of Pie Charts */

.NOGPS {
    background-color: #00B09B !important;
}

.UNAVAILABLE {
    background-color: #7E909A !important;
}

.ON, .CONNECTED {
    background-color: #374C84 !important;
}

.OFF, .HIGH, .DISCONNECTED {
    background-color: #2B3C68 !important;
}

.LOW, .LOW_BATTERY, .LOW_ASSET_BATTERY {
    background-color: #dbae58 !important;
}

.UNKNOWN {
    background-color: #dadada !important;
}

.NORMAL {
    background-color: #6ab187 !important;
}

.MOVING {
    background-color: #05A107 !important;
}

.IDLE {
    background-color: #F2CA05 !important;
}

.STOPPED {
    background-color: #ff4545 !important;
}

/* Color-Scheme for alert-status widget */

/*_206("Fuel Theft")*/

.FUEL_THEFT {
    background-color: #39508A !important;
}

/*_7("Towing")*/

.TOWING {
    background-color: #8399D1 !important;
}

/*_34("Battery Disc")*/

.BATTERY_DISC {
    background-color: #6983C7 !important;
}

/*_16("Ignition ON")*/

.IGNITION_ON {
    background-color: #93A6D7 !important;
}

/*_33("Ignition OFF")*/

.IGNITION_OFF {
    background-color: #7890CD !important;
}

/*_35("Battery reconnect")*/

.BATTERY_RECONNECT {
    background-color: #5E7AC3 !important;
}

/*_28("No GPS alert")*/

.NO_GPS_ALERT {
    background-color: #4966B2 !important;
}

/*_42("Low battery alert resolved")*/

.LOW_BATTERY_ALERT_RESOLVED {
    background-color: #26355D !important;
}

/*_39("Low battery alert occurred")*/

.LOW_BATTERY_ALERT_OCCURRED {
    background-color: #1B2540 !important;
}

/*_31("Low internal battery")*/

.LOW_INTERNAL_BATTERY {
    background-color: #A3B3DD !important;
}

/*_220("Low Internal Battery Resolved")*/

.LOW_INTERNAL_BATTERY_RESOLVED {
    background-color: #889DD3 !important;
}

/*_38("Device Tampered")*/

.DEVICE_TAMPERED {
    background-color: #6E87C9 !important;
}

/*_36("Emergency State On (Panic)")*/

.EMERGENCY_STATE_ON_PANIC {
    background-color: #5371BF !important;
}

/*_211("Vehicle Towing Alert"*/

.VEHICLE_TOWING_ALERT {
    background-color: #4560A6 !important;
}

/*_214("SLI Overload Alert")*/

.SLI_OVERLOAD_ALERT {
    background-color: #CDD6ED !important;
}

/*_215("SLI A2B Cutoff Alert"*/

.SLI_A2B_CUTOFF_ALERT {
    background-color: #B3C0E3 !important;
}

/*_216("SLI Bypass Alert")"*/

.SLI_BYPASS_ALERT {
    background-color: #98AAD9 !important;
}

/*_217("SLI Higher Angle Cutoff")*/

.SLI_HIGHER_ANGLE_CUTOFF {
    background-color: #7E94CF !important;
}

/*_218("SLI Lower Angle Cutoff")*/

.SLI_LOWER_ANGLE_CUTOFF {
    background-color: #637FC5 !important;
}

/*_219("SLI unsafe Extended Alert")*/

.SLI_UNSAFE_EXTENDED_ALERT {
    background-color: #4C6AB7 !important;
}

/*_14("Harsh Breaking")*/

.HARSH_BRAKING {
    background-color: #4966B2 !important;
}

/*_15("Harsh Acceleration"*/

.HARSH_ACCELERATION {
    background-color: #3E5695 !important;
}

/*_32("Rash Turning")*/

.RASH_TURNING {
    background-color: #324679 !important;
}

/*_212("Vehicle Immobilize Alert")*/

.VEHICLE_IMMOBILIZE_ALERT {
    background-color: #4763AC !important;
}

/*_213("Device Mode Change Alert")*/

.DEVICE_MODE_CHANGE_ALERT {
    background-color: #3B5390 !important;
}

/*_221("Motion Detection (Accelerometer Based)")*/

.MOTION_DETECTION {
    background-color: #304273 !important;
}

/*_10077("Unsupported  Violation")*/

.UNSUPPORTED_VIOLATION {
    background-color: #4560A6 !important;
}

/*_10072("GeoFence OverSpeeding")*/

.GEOFENCE_OVERSPEEDING {
    background-color: #B8C5E5 !important;
}

/*_10071("GeoFence Violation")*/

.GEOFENCE_VIOLATION {
    background-color: #080B13 !important;
}

/*_10073("GeoFence Deviation")*/

.GEOFENCE_DEVIATION {
    background-color: #425DA1 !important;
}

/*_224("Power On")*/

.POWER_ON {
    background-color: #374C84 !important;
}

/*_225("Power Off")*/

.POWER_OFF {
    background-color: #2B3C68 !important;
}

/*_205("GeoFence Entry")*/

.GEOFENCE_ENTRY {
    background-color: #0a2875 !important;
}

/*_205("GeoFence Exit")*/

.GEOFENCE_EXIT {
    background-color: #8798AD !important;
}

/*_10010("Long Idle Alert")*/

.LONG_IDLE_ALERT {
    background-color: #003E47 !important;
}

/*_10010("Delayed Trip Alert")*/

.DELAYED_TRIP_ALERT {
    background-color: #006F86 !important;
}

/*_10021("High Temperature")*/

.HIGH_TEMPERATURE {
    background-color: #ec0a0a !important;
}

/*_10022("Low Temperature")*/

.LOW_TEMPERATURE {
    background-color: #0D6E8E !important;
}

/*_10020("Normal Temperature")*/

.NORMAL_TEMPERATURE {
    background-color: #05A107 !important;
}

/*_10102("Route Deviation")*/

.ROUTE_DEVIATION {
    background-color: #e99434 !important;
}

/*_10079("Global Overspeeding")*/

.GLOBAL_OVERSPEEDING {
    background-color: #da2626 !important;
}

/*_10080("Fuel Fill")*/

.FUEL_FILL {
    background-color: #3d7c2a !important;
}

/*_10103("Vehicle Disconnected")*/

.VEHICLE_DISCONNECTED {
    background-color: #8a0910 !important;
}

/*_10104("Vehicle Connected")*/

.VEHICLE_CONNECTED {
    background-color: #1a500d !important;
}

/* */
.alc-10103 {
    background-color: #8a0910 !important;
}

/*_10104("Vehicle Connected")*/

.alc-10104 {
    background-color: #1a500d !important;
}

/*_206("Fuel Theft")*/

.alc-206 {
    background-color: #39508A !important;
}

/*_7("Towing")*/

.alc-7 {
    background-color: #8399D1 !important;
}

/*_34("Battery Disc")*/

.alc-34 {
    background-color: #6983C7 !important;
}

/*_16("Ignition ON")*/

.alc-16 {
    background-color: #93A6D7 !important;
}

/*_33("Ignition OFF")*/

.alc-33 {
    background-color: #7890CD !important;
}

/*_35("Battery reconnect")*/

.alc-35 {
    background-color: #5E7AC3 !important;
}

/*_28("No GPS alert")*/

.alc-28 {
    background-color: #4966B2 !important;
}

/*_42("Low battery alert resolved")*/

.alc-42 {
    background-color: #26355D !important;
}

/*_39("Low battery alert occurred")*/

.alc-39 {
    background-color: #1B2540 !important;
}

/*_31("Low internal battery")*/

.alc-31 {
    background-color: #A3B3DD !important;
}

/*_220("Low Internal Battery Resolved")*/

.alc-220 {
    background-color: #889DD3 !important;
}

/*_38("Device Tampered")*/

.alc-38 {
    background-color: #6E87C9 !important;
}

/*_36("Emergency State On (Panic)")*/

.alc-36 {
    background-color: #5371BF !important;
}

/*_211("Vehicle Towing Alert"*/

.alc-211 {
    background-color: #4560A6 !important;
}

/*_214("SLI Overload Alert")*/

.alc-214 {
    background-color: #CDD6ED !important;
}

/*_215("SLI A2B Cutoff Alert"*/

.alc-215 {
    background-color: #B3C0E3 !important;
}

/*_216("SLI Bypass Alert")"*/

.alc-216 {
    background-color: #98AAD9 !important;
}

/*_217("SLI Higher Angle Cutoff")*/

.alc-217 {
    background-color: #7E94CF !important;
}

/*_218("SLI Lower Angle Cutoff")*/

.alc-218 {
    background-color: #637FC5 !important;
}

/*_219("SLI unsafe Extended Alert")*/

.alc-219 {
    background-color: #4C6AB7 !important;
}

/*_14("Harsh Breaking")*/

.alc-14 {
    background-color: #4966B2 !important;
}

/*_15("Harsh Acceleration"*/

.alc-15 {
    background-color: #3E5695 !important;
}

/*_32("Rash Turning")*/

.alc-32 {
    background-color: #324679 !important;
}

/*_212("Vehicle Immobilize Alert")*/

.alc-212 {
    background-color: #4763AC !important;
}

/*_213("Device Mode Change Alert")*/

.alc-213 {
    background-color: #3B5390 !important;
}

/*_221("Motion Detection (Accelerometer Based)")*/

.alc-221 {
    background-color: #304273 !important;
}

/*_10077("Unsupported  Violation")*/

.alc-10077 {
    background-color: #4560A6 !important;
}

/*_10072("GeoFence OverSpeeding")*/

.alc-10072 {
    background-color: #B8C5E5 !important;
}

/*_10071("GeoFence Violation")*/

.alc-10071 {
    background-color: #080B13 !important;
}

/*_10073("GeoFence Deviation")*/

.alc-10073 {
    background-color: #425DA1 !important;
}

/*_224("Power On")*/

.alc-224 {
    background-color: #374C84 !important;
}

/*_225("Power Off")*/

.alc-225 {
    background-color: #2B3C68 !important;
}

/*_10074("GeoFence Entry")*/

.alc-10074 {
    background-color: #0a2875 !important;
}

/*_10075("GeoFence Exit")*/

.alc-10075 {
    background-color: #0b1a42 !important;
}

/*_10010("Long Idle")*/

.alc-10010 {
    background-color: #003E47 !important;
}

/*_10010("Trip Delayed")*/

.alc-10101 {
    background-color: #006F86 !important;
}

/*_10021("High Temperature")*/

.alc-10021 {
    background-color: #ec0a0a !important;
}

/*_10022("Low Temperature")*/

.alc-10022 {
    background-color: #0D6E8E !important;
}

/*_10020("Normal Temperature")*/

.alc-10020 {
    background-color: #05A107 !important;
}

/*_10102("Route Deviation")*/

.alc-10102 {
    background-color: #e99434 !important;
}

/*_10079("Global Overspeeding")*/

.alc-10079 {
    background-color: #da2626 !important;
}

/*_10080("Fuel Fill")*/

.alc-10080 {
    background-color: #3d7c2a !important;
}

/*_10104("Prolonged Door Open")*/

.alc-10105 {
    background-color: #ee453f !important;
}

/*_10104("Movement detection")*/

.alc-10106 {
    background-color: #FE4821 !important;
}


.panel-default .widget-list-sect-multi-col, .NOGPS, .UNAVAILABLE, .ON, .CONNECTED, .OFF, .HIGH, .DISCONNECTED, .LOW, .LOW_BATTERY, .LOW_ASSET_BATTERY, .UNKNOWN, .NORMAL, .MOVING, .IDLE, .STOPPED, .FUEL_THEFT, .TOWING, .BATTERY_DISC, .IGNITION_ON, .IGNITION_OFF, .BATTERY_RECONNECT, .NO_GPS_ALERT, .LOW_BATTERY_ALERT_RESOLVED, .LOW_BATTERY_ALERT_OCCURRED, .LOW_INTERNAL_BATTERY, .LOW_INTERNAL_BATTERY_RESOLVED, .DEVICE_TAMPERED, .EMERGENCY_STATE_ON_PANIC, .VEHICLE_TOWING_ALERT, .SLI_OVERLOAD_ALERT, .SLI_A2B_CUTOFF_ALERT, .SLI_BYPASS_ALERT, .SLI_HIGHER_ANGLE_CUTOFF, .SLI_LOWER_ANGLE_CUTOFF, .SLI_UNSAFE_EXTENDED_ALERT, .HARSH_BRAKING, .HARSH_ACCELERATION, .RASH_TURNING, .VEHICLE_IMMOBILIZE_ALERT, .DEVICE_MODE_CHANGE_ALERT, .MOTION_DETECTION .UNSUPPORTED_VIOLATION, .GEOFENCE_OVERSPEEDING, .GEOFENCE_VIOLATION, .GEOFENCE_DEVIATION, .POWER_ON, .POWER_OFF, .GEOFENCE_ENTRY, .GEOFENCE_EXIT, .LONG_IDLE_ALERT, .DELAYED_TRIP_ALERT, .HIGH_TEMPERATURE, .LOW_TEMPERATURE, .NORMAL_TEMPERATURE, .ROUTE_DEVIATION, .GLOBAL_OVERSPEEDING, .FUEL_FILL, .VEHICLE_DISCONNECTED, .VEHICLE_CONNECTED,
.alc-206, .alc-7, .alc-34, .alc-16, .alc-33, .alc-35, .alc-28, .alc-42, .alc-39, .alc-31, .alc-220, .alc-38, .alc-36, .alc-211, .alc-214, .alc-215, .alc-216, .alc-217, .alc-218, .alc-219, .alc-14, .alc-15, .alc-32, .alc-212, .alc-213, .alc-221, .alc-10077, .alc-10072, .alc-10071, .alc-10073, .alc-224, .alc-225, .alc-10074, .alc-10075, .alc-10010, .alc-10101, .alc-10101, .alc-10021, .alc-10022, .alc-10020, .alc-10102, .alc-10079, .alc-10080, .alc-10103, .alc-10104 , .alc-10105 , .alc-10106 {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    POSITION: RELATIVE;
    TOP: 1px;
}

/* Negative margin */

.nMargin {
    margin-top: -10px;
}

/* GMS CSS */

.trip-top-widgets-row .trip-top-widgets {
    width: 14.28%;
}

.trip-top-widgets-row .trip-top-widgets .inner-widit {
    background-color: #fff;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    border-top: 10px solid transparent;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.trip-top-widgets-row .trip-top-widgets span {
    display: block;
    font-size: 14px;
    color: #000;
}

.trip-top-widgets-row .trip-top-widgets .inner-widit:hover {
    background-color: #8AB5C6;
    transition: 0.2s;
    color: #fff;
    border-color: #8AB5C6!important;
}

.trip-top-widgets-row .trip-top-widgets .inner-widit:hover span {
    color: #fff;
    transition: 0.2s;
}

.trip-top-widgets-row .trip-top-widgets.unassinged .inner-widit {
    border-top-color: #C14848;
}

.trip-top-widgets-row .trip-top-widgets.assinged .inner-widit {
    border-top-color: #72B459;
}

.trip-top-widgets-row .trip-top-widgets.pickedup .inner-widit {
    border-top-color: #5757D1;
}

.trip-top-widgets-row .trip-top-widgets.arriving .inner-widit {
    border-top-color: #A45FC1;
}

.trip-top-widgets-row .trip-top-widgets.completed .inner-widit {
    border-top-color: #337719;
}

.trip-top-widgets-row .trip-top-widgets.cancelled .inner-widit {
    border-top-color: #C14848;
}

.trip-top-widgets-row .trip-top-widgets.total .inner-widit {
    /* background-color: #8AB5C6;
    color: #fff; */
    border-top-color: #2E384D;
}

/* .trip-top-widgets-row .trip-top-widgets.total .inner-widit span {
     color: #fff;
  } */

.trip-top-widgets-row .trip-top-widgets.active .inner-widit {
    background-color: #8AB5C6;
    transition: 0.2s;
    color: #fff;
    border-color: #8AB5C6!important;
}

.trip-top-widgets-row .trip-top-widgets.active .inner-widit span {
    color: #fff;
    transition: 0.2s;
}

.gms-trippage .table tr td small {
    display: block;
    color: #616161;
}

.gms-trippage .table tr td div {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #ccc;
}

.gms-trippage .table tr td div:last-child {
    padding-right: 0;
    border: none;
}

.gms-trippage .table tr td div:first-child {
    padding-left: 0;
}

.gms-trippage .table tr td {
    vertical-align: middle;
}

.gms-trippage .table tr td:last-child {
    text-align: left;
}

.gms-trippage .table tr td label {
    background: #ccc;
    border-radius: 30px;
    padding: 5px 20px;
    color: #fff;
    text-align: center;
    min-width: 110px;
}

.gms-trippage .table tr td label.completed {
    background: #337719;
}

.gms-trippage .table tr td label.tripstated {
    background: #196177;
}

.gms-trippage .table tr td label.pickedup {
    background: #5757D1;
}

.gms-trippage .table tr td label.assigned {
    background: #72B459;
}

.gms-trippage .table tr td label.arriving {
    background: #A45FC1;
}

.gms-trippage .table tr td label.unassigned {
    background: #C14848;
}

.gms-trippage .table tr td label.cancelled {
    background: #A0A0A0;
}

.comment-modal.big-modal {
    width: 60%;
}

.comment-modal .cmment-top-block {
    margin: 10px 0;
}

.comment-modal .cmment-top-block label {
    font-size: 12px;
    color: #005AAB;
    font-weight: 500;
}

.comment-modal .cmment-top-block h4 {
    font-size: 16px;
    margin: 0;
}

.comment-modal .cmment-btm-block label {
    font-size: 16px;
    color: #005AAB;
    font-weight: 500;
}

.comment-modal .cmment-btm-block p {
    font-size: 14px;
}

.comment-modal hr {
    float: left;
    width: 100%;
    margin: 15px 0;
}

.livetrack-modal .modal-body {
    padding: 0;
}

.livetrack-modal img {
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.create-new-trip {
    width: 90%;
}

.create-new-trip .form-group .form-control {
    border: 1px solid #bec9ef;
    border-radius: 6px;
    background-color: rgba(224, 231, 255, 0.2);
    box-shadow: none!Important;
}

.create-new-trip .new-trip-left, .create-new-trip .new-trip-right {
    padding: 15px 0px;
    width: 47%;
}

.create-new-trip .new-trip-right:before {
    content: "";
    width: 1px;
    height: 99%;
    position: absolute;
    left: -25px;
    background: #ccc;
}

.create-new-trip .new-trip-left .cmment-top-block {
    margin: 15px 0;
}

.create-new-trip .new-trip-left .cmment-top-block h4 {
    font-size: 16px;
    margin: 0;
}

.create-new-trip .new-trip-left .cmment-top-block label {
    font-size: 14px;
    color: #005AAB;
    font-weight: 500;
}

.assigntrip-modal {
    width: 60%;
}

.edittrip-modal {
    width: 89%;
}

.assigntrip-modal .modal-body {
    padding-top: 20px;
}

.assigntrip-modal .drop-location .icon-jiolocation {
    font-size: 50px;
    color: #b5b5b5;
    float: left;
    margin-right: 8px;
}

.assigntrip-modal .drop-location label {
    font-size: 11px;
}

.assigntrip-modal .drop-location h4 {
    font-size: 16px;
    margin: 0;
    display: block;
}

.assigntrip-modal p {
    font-size: 11px;
    margin: 0;
}

.assigntrip-modal .modal-body .btn {
    margin-left: 10px;
}

.edittrip-modal .modal-body {
    padding-top: 10px;
}

.m0{
    margin: 0px;
}
.mb0{
    margin-bottom: 0px;
}

.edittrip-modal .drop-location .icon-jiolocation {
    font-size: 50px;
    color: #b5b5b5;
    float: left;
    margin-right: 8px;
}

.edittrip-modal .drop-location label {
    font-size: 11px;
}

.edittrip-modal .drop-location h4 {
    font-size: 16px;
    margin: 0;
    display: block;
}

.edittrip-modal p {
    font-size: 11px;
    margin: 0;
}

.edittrip-modal .modal-body .btn {
    margin-left: 10px;
}

.gms-trip-summary .table-filters {
    margin-top: -20px;
}

.gms-trip-summary table tr td .icon-jiolocation {
    font-size: 22px;
    cursor: pointer;
}

.mydatepicker .fa-calendar {
    position: absolute;
    right: 26px;
    top: 10px;
    opacity: 0.4;
    cursor: pointer;
}

.gms-trippage table tr td .fa {
    margin-left: 0;
}

.modal-backdrop {
    z-index: 999999;
}

.modal {
    z-index: 999999;
}

.gms-trippage .page-heading {
    min-height: 15px;
    line-height: inherit;
    margin-bottom: 10px;
}

/* css for ui fixes priyesh 20-5-19 */

.selected-list .c-list .c-token {
    background: #5c667c!important;
}

.selected-list .c-list .c-token {
    background: #5c667c!important;
}

.pure-checkbox input[type="checkbox"]+label:before {
    color: #9b9b9b !important;
    border-radius: 5px;
    border: 1.5px solid #9ea0a5!important;
}

.pure-checkbox input[type="checkbox"] + label {
    color: #9b9b9b;
}


.pure-checkbox input[type=checkbox]+label:after {
    box-sizing: content-box;
    content: '';
    position: absolute;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    background-color: transparent;
    top: 50%;
    left: 4px;
    width: 8px;
    height: 3px;
    margin-top: -4px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 3px 3px;
    -o-border-image: none;
    border-image: none;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
}

.modal-dialog.big-modal #tripPreviewMap {
    margin-bottom: 20px;
}

.fa.unassign:after {
    background: #2e384d;
}

.pagination>li>a:hover, .pagination>li>span:hover {
    background: #2e384d;
    color: #fff;
    border-color: #2e384d;
}

.modal-authorities .modal-header .modal-title {
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.edit-role-authoritiy-page .ui-treenode-content.ui-treenode-selectable.ui-treenode-content-selected .ui-chkbox .ui-chkbox-box {
    background-color: #2e384d;
}

.edit-role-authoritiy-page .ui-chkbox .ui-chkbox-box {
    border: 2px solid #2e384d!important;
}

.big-modal .alert-m-table input:checked+.slider {
    background-color: #2e384d;
}

.text-danger {
    padding: 0;
}

.custom-autoselect .selected-list .c-btn {
    background-color: #f9faff;
    border-color: #bdc9ef;
}

.gm-style-iw.gm-style-iw-c button {
    display: none!important;
}

.trip-mgmt .table-filters .right-align {
    width: 100%;
    text-align: center;
    margin-top: -15px;
}

.site-delete h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-dialog.edit__assign_vehicle .modal-header .modal-title {
    color: #000
}

/* end */

.save-alert-configuration .form-group {
    margin-bottom: 20px!important;
}

@media (max-width:960px) {
    .trip-top-widgets-row .trip-top-widgets {
        width: 25%;
    }
    .gms-trippage.right-content .table-filters {
        margin-top: -20px;
    }
}

@media (max-width:1180px) {
    .gms-trippage .table {
        width: 1200px;
    }
    .create-new-trip {
        width: 90%;
    }
}

@media (max-width:800px) {
    .create-new-trip .new-trip-left, .create-new-trip .new-trip-right {
        padding: 20px 0;
    }
}

/* End GMS CSS */

@media (max-width:1300px) {
    /* .big-modal .table-responsive {
        max-height: 170px;
    } */
    .big-modal #map1234, .big-modal #PowerStatusDetailMap, .big-modal #BatteryStatusDetailMap {
        height: 200px!important;
    }
    .big-modal .modal-header {
        padding: 10px 15px;
    }
    .big-modal .modal-header .modal-title {
        font-size: 11px;
    }
    .big-modal .modal-header .close {
       /* padding: 0.7em; */
        font-size: 15px;
    }
    .big-modal .table-responsive thead th, .big-modal .my-table tbody td {
        font-size: 12px;
        font-family: "JioType-Medium";
    }
    .pagination .pagination-first a, .pagination .pagination-prev a, .pagination .pagination-last a, .pagination .pagination-next a {
        font-size: 16px;
        padding: 2px 10px;
    }
    .pagination>li>a, .pagination>li>span {
        padding: 3px 10px;
        font-size: 16px;
    }
}

/* @media (max-width:1200px) {
    .big-modal .table-responsive {
        max-height: 250px;
    }
    .big-modal #map1234 {
        height: 200px;
    }

} */

@media (min-width:990px) and (max-width:1180px) {
    .panel-default .panel-body.circle-chart .widget-chart-list {
        margin: 25px 0 0 -10px;
    }
    .panel-default .panel-body.circle-chart .widget-chart-list li b {
        font-size: 11px;
    }
    .panel-default .panel-body.circle-chart ngx-charts-pie-chart {
        margin-left: -10px;
    }
    .panel-default .panel-heading .panel-title {
        font-size: 12px;
    }
    .panel-default .panel-heading img {
        width: 27px;
        margin-right: 5px;
    }
}

@media (max-width:1100px) {
    /* .big-modal .table-responsive  {
        max-height: 120px;
    } */
    .big-modal #map1234, .big-modal #PowerStatusDetailMap, .big-modal #BatteryStatusDetailMap {
        height: 150px!important;
    }
}

@media (max-width:1000px) {
    /* .big-modal .table-responsive {
        max-height: 100px;
    } */
    .big-modal #map1234, .big-modal #PowerStatusDetailMap, .big-modal #BatteryStatusDetailMap {
        height: 110px!important;
    }
    .panel-default.map-widegt .device-table.table-responsive .table {
        width: 1200px;
    }
    .tripmanagment.asset-history .text-danger {
        position: absolute;
        right: 0;
    }
}

@media (max-height:1200px) {
    .geofence-page agm-map, #map1234, .big-modal #PowerStatusDetailMap, .big-modal #BatteryStatusDetailMap {
        height: 250px;
        margin-top: 15px;
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vph {
    height: 100%;
    position: relative;
}

/* Negative margin */

/* .nMargin {
    margin-top: -10px;
} */

.nMarginLeft {
    margin-left: -5px;
}

/* .lbl-80 {
    width: 80% !important;
    margin: 0 0 0 10px !important;
} */

.widgetH150 {
    min-height: 150px !important;
}

.widgetH130 {
    min-height: 130px !important;
}

/* Page not found*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.notfound .notfound-404 {
    position: relative;
    height: 240px;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
}

.notfound .notfound-404 h1>span {
    text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
    font-family: 'Cabin', sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #262626;
    margin: 0px;
    letter-spacing: 3px;
    padding-left: 6px;
}

.notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 0px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 200px;
    }
    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }
    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .notfound h2 {
        font-size: 16px;
    }
}

/*footer*/

.footer {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 84%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    height: 30px;
    padding: 8px 30px 0 0;
}

.headerHeightOverride {
    height: 40px !important;
}

.navbar-brand {
    padding: 3px 0 0 0px !important;
}

.navbar-default .navbar-brand img {
    width: 30px !important;
    height: 30px !important;
}

.navbar-default .navbar-right {
    margin: -10px 0 0 0 !important;
}

.navbar-default .navbar-brand {
    font-size: 15px !important;
}

/* Route Managementr */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 70%;
    /* z-index: 400; */
}

ul.AssignVehtimeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 45%;
    top: 110px;
    /* z-index: 400; */
}

ul.AssignVehtimeline {
    margin: 30px 0px;
}

.DestGeofenceBox, .OriginGeofenceBox {
    width: 100%;
}

.modaltimeinput {
    width: 45%;
    display: inline;
}

ul.AssignVehtimeline>li.ListBullet:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #2d384d;
    left: 20px;
    width: 20px;
    height: 20px;
}

li.ListBullet {
    border: solid 1px #cfcfcf;
    padding: 20px 0 50px 0;
    border-radius: 6px;
}

li.BlankArea {
    padding: 25px;
    margin: 0 -20px 60px 0px;
}

.assignvehiclemodaltitletext {
    border-bottom: solid 1px #d8d8d8;
    padding: 10px 0px;
}

li.ListBullet:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 70%;
    /* z-index: 400; */
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #2d384d;
    left: 20px;
    width: 20px;
    height: 20px;
    /* z-index: 40; */
}

/* padding reduced for columns */

.pad5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pad-asset-left{
    padding-left:0px !important;
    padding-right:5px !important;
}
.pad-asset-right{
    padding-left:5px !important;
    padding-right:0px !important;
}



h6.welcome {
    font-family: Jiotype-Light;
    color: grey;
    font-weight: bold;
    margin: -2px 35px -2px 0px;
    text-align: right;
}

/* Header temporary controls - dropdown and buttons */

.tilehead {
    padding: 0px;
}

.drophead {
    float: right;
}

.drophead .custom-autoselect .selected-list .c-btn {
    font-size: 12px;
    height: 30px;
    margin: -2px 0px 0px 25px;
}

.override .c-btn {
    top: -2px;
    height: 28px !important;
    padding: 4px 8px !important;
}

.override .selected-list .c-list .c-token {
    padding: 4px 26px 0px 9px !important;
    margin: -2px 5px 0 -5px;
}

/* .drophead .custom-autoselect .selected-list .c-btn label {
    font-size: 10px;
    font-weight: normal;
    margin: 0px;
} */

.hdrwidth {
    width: 55%!important;
    padding-left: 0px;
}

.hdrclear {
    font-size: 12px;
    margin-top: 2px;
    opacity: 1!important;
    color: #2e384d;
}

.txtsmallhdr {
    font-size: 11px;
    font-family: Jiotype-Light;
}

/* Map Elements Styling */

/* ------------- */

/* Map & Satellite button */

.gm-style .gm-style-mtc div {
    font-size: 14px!important;
    box-sizing: border-box;
    color: #ffffff!important;
    background-color: #2d384dd9!important;
    height: 30px!important;
    padding: 0px 10px!important;
    border-radius: 6px!important;
    font-family: Jiotype-Light!important;
    font-weight: bold!important;
}

.gm-style .gm-style-mtc {
    padding-right: 2px;
}

.gm-svpc {
    visibility: hidden;
}

/* Fullscreen button */

button.gm-control-active.gm-fullscreen-control {
    border-radius: 10px!important;
    width: 35px!important;
    height: 35px!important;
}

/* Zoom and other controls on map */

.gm-control-active>img:nth-child(1) {
    display: block;
    width: 12px!important;
    height: 12px!important;
}

.gmnoprint div {
    border-radius: 15px!important;
}

i.icon-calendar.newtripmodal {
    float: right;
    margin: -24px 15px 0px 0px;
}

/* For searching input type  */

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.addremove {
    max-height: 280px;
    min-height: 280px;
    overflow: auto;
    margin: 10px 0 10px 0;
    background: #fafafa;
    padding: 20px 0 20px 0;
}

.addremove-nobg {
    max-height: 280px;
}

.btn-minheight {
    margin-top: 120px;
    min-height: 90px;
}

.asset-ownership .userlistsearch {
    max-height: 35px;
    min-height: 35px;
}

.asset-ownership .addremoveuserlist {
    max-height: 200px;
    min-height: 200px;
    overflow: auto;
}

.asset-ownership .userlist {
    margin: 10px 0 10px 0;
    background: #fafafa;
    padding: 20px 0 20px 0;
}

.download_report_align {
    margin-right: 1.5%;
}

.device-list-page app-search .search {
    margin-top: 16px;
}

.negmargin1 {
    margin-top: -1%;
}

.asset-allocation .table-filters .form-control {
    border-radius: 4px;
}

.scrollTextArea {
    max-height: 10%;
    overflow-y: scroll;
}

.makingTextBox {
    max-height: 90px;
    overflow-y: scroll;
    min-height: 60px;
    border: solid 1px #ccc;
    padding-left: 1%;
}

.pad0 {
    padding: 0px !important;
    margin: 0px !important;
    word-wrap: break-word;
}

.timePickerEdit {
    margin-top: -1%;
    padding-right: 50px;
    padding-left: 0px;
    text-align: right;
}

.default:hover {
    cursor: default !important;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.center {
    position: absolute;
    /* width: 100px; */
    height: 50px;
    top: 50%;
    left: 17%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}​
modal-container{
  padding-top:5%;
}


/* Overide Pure  */

.pure-checkbox input[type="checkbox"] + label {
    color: #949494 !important;
}

.toast-close-button {
    position: relative;
    right: -0.1em;
    top: 0.1em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
  }
  
  .toast-container .toast {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 350px;
    border-radius: 90px 90px 90px 90px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }
  